body {
  text-align: center;
  background-color: #011F3F;
}

a{
  color: white;
  font-size: large;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.start_button {
  color: lightblue;
  background-color:#011F3F;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-family: "Press Start 2P", cursive;
  /* animation: name duration timing-function delay iteration-count direction fill-mode;   */
  animation: glow_effect 1s ease 3s infinite;
}

@keyframes glow_effect {
  0% {box-shadow: 0px 0px 0px chartreuse;}
  50% {box-shadow: 0px 0px 20px chartreuse;}
  100% {box-shadow: 0px 0px 0px chartreuse;}
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media only screen and (max-width: 1200px) {

  body {
    background-color: lightblue;
  }

  a {
    color: black;
  }

  #level-title {
    color:#011F3F;
  }

  .btn {
    margin: 2px;
    /* display: inline-block; */
    height: 20vw; /* so that it will still be a square*/
    width: 20vw;
    border: 5px solid black;
    border-radius: 20%;
  }
}